<div class="meta">
  <div class="date_time">
    <div class="card">
      <div class="day">Monday</div>
      <div class="date_month">
        <div class="date">13</div>
        <div class="month">Apr</div>
      </div>
    </div>
    <div class="time" style="text-transform:lowercase;">5:30 PM</div>
  </div>
  <!-- <p><a href="#">Full Details &#187;</a></p> -->
</div> <!-- /.meta -->
