<div class="row">
  <div class="col-md-8 main-left page--about">
    <h2 class="page-header">About {{model.title}}</h2>
    {{{model.description}}}
  </div>
  <div class="col-md-4 main-right">
    {{partial "section-briefs"}}
  </div>
</div>
