<div class="row">
  <div class="col-md-8 main-left page--about">
    <h2 class="page-header">About The Project</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maxime in ea dolores eaque maiores earum quis magnam porro, pariatur error. Doloribus aperiam debitis, nulla quisquam repellendus nemo assumenda modi veritatis.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos neque dolores harum nostrum repellendus. Illum et blanditiis perferendis harum inventore magnam, mollitia id veritatis nesciunt aspernatur nulla vel labore ratione?</p>
    <img class="img-responsive" src="http://lorempixel.com/1000/800/nature">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos voluptatem nisi animi voluptatum illo rem officiis magnam enim porro, adipisci tempora repudiandae consequuntur, est optio labore voluptatibus laudantium nam maxime. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Incidunt sed quia eligendi enim, possimus doloribus neque, corrupti officia dicta, eaque nesciunt, iusto dolore. Cum illum eius dignissimos, sit soluta aliquam.</p>
  </div>
  <div class="col-md-4 main-right">
    {{partial "section-briefs"}}
  </div>
</div>
