<style>
  body {
    background-color: #dee3e0;
    -webkit-background-size: cover;
    padding: inherit;
    background: url('assets/images/tetons_1800.jpg') no-repeat top center fixed;
    -moz-background-size: cover;
    background-size: cover;
  }
</style>
<div id="agencyHeader">
  <a href="http://tc.tstr.co/">
    <img src="http://tc.tstr.co/images/teton_wy_100x66.png" alt="Teton County Wyoming" width="100" height="70">
  </a>
</div>

<!-- Sub Navigation -->

{{partial "navigation"}}
<div id="body">
  <header class="project-header container-fluid">
    <h1 class="project-title">Path22 Project</h1>
    <p class="project-desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maiores delectus nisi excepturi ducimus soluta, voluptatibus porro quos natus ad a perferendis aperiam!</p>
  </header>
  <main class="container-fluid">
    <div class="row">
      <div class="col-md-8 main-left">
        <section class="content-section row">

          <h2 class="col-xs-12 content-section-header"><a href="#" class="content-section-header-text">Project Plans</a></h2>
          <article class="content-item col-md-6">
            <div class="content-item-image">
              <img src="http://lorempixel.com/400/200/city/1">
              <span class="content-item-logo"></span>
            </div>
            <h3 class="content-item-title">Pathways Master Plan</h3>
            <p class="content-item-excerpt">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Suscipit debitis minus placeat iure, tempora, rem animi praesentium perferendis vitae. Architecto ea, quibusdam praesentium.</p>
          </article>

          <article class="content-item col-md-6">
            <div class="content-item-image">
              <img src="http://lorempixel.com/400/200/city/2">
              <span class="content-item-logo"></span>
            </div>
            <h3 class="content-item-title">Region 4 - WY22 Plan</h3>
            <p class="content-item-excerpt">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Suscipit debitis minus placeat iure, tempora, rem animi praesentium perferendis vitae. Architecto ea, quibusdam praesentium.</p>
          </article>

        </section>

        <section class="content-section row">
          <h2 class="col-xs-12 content-section-header"><a href="#" class="content-section-header-text">News</a></h2>
          <article class="content-item col-md-6">
            <div class="content-item-image">
              <img src="http://lorempixel.com/400/200/nature/4">
              <span class="content-item-logo"></span>
            </div>
            <h3 class="content-item-title">Approval of final alignment for Path 22 Middle Segment</h3>
            <time class="content-item-date">Jan 20, 2014</time>
          </article>

          <article class="content-item col-md-6">
            <div class="content-item-image">
              <img src="http://lorempixel.com/400/200/nature/2">
              <span class="content-item-logo"></span>
            </div>
            <h3 class="content-item-title">Region 4 - WY22 Plan</h3>
            <time class="content-item-date">Jan 12, 2014</time>
          </article>
        </section>
        <section class="content-section row">
          <h2 class="col-xs-12 content-section-header"><a href="#" class="content-section-header-text">Meeting</a></h2>
          <article class="content-item col-md-6">
            <div class="content-item-image">
              <img src="http://lorempixel.com/400/200/business/1">
              <span class="content-item-logo"></span>
            </div>
            <h3 class="content-item-title">Board of County Commissioners Regular Meeting</h3>
            <time class="content-item-date">Jan 20, 2014</time>
            <ul class="content-item-list">
              <li><a href="#">Some link</a></li>
              <li><a href="#">Staff Report</a></li>
              <li><a href="#">Video Archive</a></li>
            </ul>
          </article>

          <article class="content-item col-md-6">
            <div class="content-item-image">
              <img src="http://lorempixel.com/400/200/business/2">
              <span class="content-item-logo"></span>
            </div>
            <h3 class="content-item-title">Joing information meeting with town council</h3>
            <time class="content-item-date">Jan 20, 2014</time>
            <ul class="content-item-list">
              <li><a href="#">Some link</a></li>
              <li><a href="#">Staff Report</a></li>
              <li><a href="#">Video Archive</a></li>
            </ul>
          </article>
        </section>
        <section class="content-section row">
          <h2 class="col-xs-12 content-section-header"><a href="#" class="content-section-header-text">Photos</a></h2>
          {{partial "carousel"}}
        </section>
      </div>

      {{! RIGHT SIDE, STRONNNNG SIDE}}
      <div class="col-md-4 main-right">
        <section class="content-section row">
          <h2 class="col-xs-12 content-section-header"><a href="#" class="content-section-header-text">Calendar</a></h2>
          <article class="col-xs-12 content-item calendar-item">
            {{! @TODO investigate using bootstrap media component}}
            <div class="calendar-item-calendar">
              <img class="image-responsive" src="http://placehold.it/200x200">
            </div>
            <h2 class="content-item-header">sustainability series</h2>
            <p class="small content-item-excerpt">Aspernatur deleniti commodi quod qui itaque, reiciendis inventore repellat nam facilis nesciunt.</p>
          </article>
          <article class="col-xs-12 content-item calendar-item">
            <div class="calendar-item-calendar">
              <img class="image-responsive" src="http://placehold.it/200x200">
            </div>
            <h2 class="content-item-header">County Commissioners' Voucher Metting</h2>
            <p class="small content-item-excerpt">Reiciendis inventore repellat nam facilis nesciunt.</p>
          </article>
          <article class="col-xs-12 content-item calendar-item">
            <div class="calendar-item-calendar">
              <img class="image-responsive" src="http://placehold.it/200x200">
            </div>
            <h2 class="content-item-header">Puss In Boots</h2>
            <p class="content-item-excerpt">Aspernatur deleniti commodi quod qui itaque, reiciendis inventore repellat nam facilis nesciunt.</p>
          </article>
        </section>
        <section class="content-section row">
          <h2 class="col-xs-12 content-section-header"><a href="#" class="content-section-header-text">Stay Connected</a></h2>
        </section>
        <section class="content-section row">
          <h2 class="col-xs-12 content-section-header"><a href="#" class="content-section-header-text">Community Mentions</a></h2>
          <div class="col-xs-12 content-item">
            <ul class="list-group">
              <li class="list-group-item community-mention">
                <a class="community-mention-link" href="#">Some bullshit link that the people wrote down</a>
                <cite class="community-mention-source"><a href="#">Fitzegerald Bicycles</a></cite>
              </li>
              <li class="list-group-item community-mention">
                <a class="community-mention-link" href="#">Walter C Gerald sleeps with alligators</a>
                <cite class="community-mention-source"><a href="#">The Truth</a></cite>
              </li>
              <li class="list-group-item community-mention">
                <a class="community-mention-link" href="#">Breanne will probably never quit the job she hates</a>
                <cite class="community-mention-source"><a href="#">Jackson Whole Grocer</a></cite>
              </li>
              <li class="list-group-item community-mention">
                <a class="community-mention-link" href="#">Some bullshit link that the people wrote down</a>
                <cite class="community-mention-source"><a href="#">Fitzegerald Bicycles</a></cite>
              </li>
              <li class="list-group-item community-mention">
                <a class="community-mention-link" href="#">Your Mom: Bigger than the solar system?</a>
                <cite class="community-mention-source"><a href="#">Wyoming Stargazing</a></cite>
              </li>
            </ul>
          </div>
        </section>
        <section class="content-section row">
          <h2 class="col-xs-12 content-section-header"><a href="#" class="content-section-header-text">Related Pages</a></h2>
        </section>
      </div>
    </div>
  </main>
</div>
<div id="footer">
  <div id="footerLinks">
    <a href="http://tc.tstr.co/AgencyTopic.asp?topicID=250746">About Teton County</a> &nbsp;|&nbsp;
    <a href="http://tc.tstr.co/resources/directory.asp">Contact Us</a> &nbsp;|&nbsp;
    <a href="http://tc.tstr.co/jobs">Jobs</a> &nbsp;|&nbsp;
    <a href="http://tc.tstr.co/links">Links</a>
  </div>
  <div id="footerCopyright">
    Copyright © 2015 Teton County Wyoming. All rights reserved.
  </div>
</div>
