<style>
  body {
    background-color: #dee3e0;
    -webkit-background-size: cover;
    padding: inherit;
    background: url('assets/images/tetons_1800.jpg') no-repeat top center fixed;
    -moz-background-size: cover;
    background-size: cover;
  }
</style>
<div id="agencyHeader">
  <a href="/">
    <img src="assets/images/teton_wy_100x66.png" alt="Teton County Wyoming" width="100" height="70">
  </a>
</div>

<!-- Sub Navigation -->

{{partial "navigation"}}
<div id="body">
  <header class="project-header container-fluid">
    <h1 class="project-title">{{#link-to "index"}}Path22 Project{{/link-to}}</h1>
    <p class="project-desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maiores delectus nisi excepturi ducimus soluta, voluptatibus porro quos natus ad a perferendis aperiam! {{#link-to "about" class="read-more"}}Read more...{{/link-to}}</p>
  </header>
  <main class="container-fluid">
    <div class="row">
      <div class="col-md-8 main-left">
        {{outlet}}
      </div>

      <div class="col-md-4 main-right">
        {{outlet "sidebar"}}
      </div>
    </div>
  </main>
</div>
<div id="footer">
  <div id="footerLinks">
    <a href="http://tc.tstr.co/AgencyTopic.asp?topicID=250746">About Teton County</a> &nbsp;|&nbsp;
    <a href="http://tc.tstr.co/resources/directory.asp">Contact Us</a> &nbsp;|&nbsp;
    <a href="http://tc.tstr.co/jobs">Jobs</a> &nbsp;|&nbsp;
    <a href="http://tc.tstr.co/links">Links</a>
  </div>
  <div id="footerCopyright">
    Copyright © 2015 Teton County Wyoming. All rights reserved.
  </div>
</div>
{{liquid-modal}}
