<h2 class="page-header">Calendar</h2>
{{#each model as |event|}}
<div class="media engage-media list-group-item engage-list-group-item">
  <div class="media-left">
    <a href="#">
      {{date-icon}}
    </a>
  </div>
  <div class="media-body">
    <h4 class="media-heading">{{event.title}}</h4>
    <p>{{event.description}}</p>
  </div>
</div>
{{/each}}
