<section class="content-section row">

  <h2 class="col-xs-12 content-section-header">
    {{#link-to "about" class="content-section-header-text"}}Project Plans{{/link-to}}
  </h2>
  <article class="content-item col-md-6">
    <div class="content-item-image">
      <img class="content-item-main-image" src="http://lorempixel.com/400/200/city/1">
      <img class="content-item-logo" src="assets/images/icon-bcc.png">
    </div>
    <h3 class="content-item-title">Pathways Master Plan</h3>
    <p class="content-item-excerpt">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Suscipit debitis minus placeat iure, tempora, rem animi praesentium perferendis vitae. Architecto ea, quibusdam praesentium.</p>
  </article>

  <article class="content-item col-md-6">
    <div class="content-item-image">
      <img class="content-item-main-image" src="http://lorempixel.com/400/200/city/2">
      <img class="content-item-logo" src="assets/images/icon-pathways.png">
    </div>
    <h3 class="content-item-title">Region 4 - WY22 Plan</h3>
    <p class="content-item-excerpt">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Suscipit debitis minus placeat iure, tempora, rem animi praesentium perferendis vitae. Architecto ea, quibusdam praesentium.</p>
  </article>

</section>

<section class="content-section row">
  <h2 class="col-xs-12 content-section-header">
    {{#link-to "news" class="content-section-header-text"}}News{{/link-to}}
  </h2>
  <article class="content-item col-md-6">
    <div class="content-item-image">
      <img class="content-item-main-image" src="http://lorempixel.com/400/200/nature/4">
      <img class="content-item-logo" src="assets/images/icon-bcc.png">
    </div>
    <h3 class="content-item-title">Approval of final alignment for Path 22 Middle Segment</h3>
    <time class="content-item-date">Jan 20, 2014</time>
  </article>

  <article class="content-item col-md-6">
    <div class="content-item-image">
      <img class="content-item-main-image" src="http://lorempixel.com/400/200/nature/2">
      <img class="content-item-logo" src="assets/images/icon-pathways.png">
    </div>
    <h3 class="content-item-title">Region 4 - WY22 Plan</h3>
    <time class="content-item-date">Jan 12, 2014</time>
  </article>
</section>
<section class="content-section row">
  <h2 class="col-xs-12 content-section-header">
    {{#link-to "meetings" class="content-section-header-text"}}Meetings{{/link-to}}
  </h2>
  <article class="content-item col-md-6">
    <div class="content-item-image">
      <img class="content-item-main-image" src="http://lorempixel.com/400/200/business/1">
      <img class="content-item-logo" src="assets/images/icon-plan.png">
    </div>
    <h3 class="content-item-title">Board of County Commissioners Regular Meeting</h3>
    <time class="content-item-date">Jan 20, 2014</time>
    <ul class="content-item-list">
      <li><a href="#">Some link</a></li>
      <li><a href="#">Staff Report</a></li>
      <li><a href="#">Video Archive</a></li>
    </ul>
  </article>

  <article class="content-item col-md-6">
    <div class="content-item-image">
      <img class="content-item-main-image" src="http://lorempixel.com/400/200/business/2">
      <img class="content-item-logo" src="assets/images/icon-bcc.png">
    </div>
    <h3 class="content-item-title">Joint information meeting with town council</h3>
    <time class="content-item-date">Jan 20, 2014</time>
    <ul class="content-item-list">
      <li><a href="#">Some link</a></li>
      <li><a href="#">Staff Report</a></li>
      <li><a href="#">Video Archive</a></li>
    </ul>
  </article>
</section>
<section class="content-section row">
  <h2 class="col-xs-12 content-section-header">
    {{#link-to "media" class="content-section-header-text"}}Photos{{/link-to}}
  </h2>
  {{partial "carousel"}}
</section>
