<div class="row">
  <div class="col-md-8 main-left">
    <h2 class="page-header">Project Photos</h2>
    <section class="media-container row">
      <article class="col-xs-6 media-item"><img class="img-responsive" src="http://lorempixel.com/500/500/abstract/1"></article>
      <article class="col-xs-6 media-item"><img class="img-responsive" src="http://lorempixel.com/500/500/abstract/2"></article>
      <article class="col-xs-6 media-item"><img class="img-responsive" src="http://lorempixel.com/500/500/abstract/3"></article>
      <article class="col-xs-6 media-item"><img class="img-responsive" src="http://lorempixel.com/500/500/abstract/4"></article>
      <article class="col-xs-6 media-item"><img class="img-responsive" src="http://lorempixel.com/500/500/abstract/5"></article>
      <article class="col-xs-6 media-item"><img class="img-responsive" src="http://lorempixel.com/500/500/abstract/6"></article>
      <article class="col-xs-6 media-item"><img class="img-responsive" src="http://lorempixel.com/500/500/abstract/7"></article>
      <article class="col-xs-6 media-item"><img class="img-responsive" src="http://lorempixel.com/500/500/abstract/8"></article>
      <article class="col-xs-6 media-item"><img class="img-responsive" src="http://lorempixel.com/500/500/abstract/9"></article>
      <article class="col-xs-6 media-item"><img class="img-responsive" src="http://lorempixel.com/500/500/abstract/10"></article>
    </section>
  </div>
  <div class="col-md-4 main-right">
    {{partial "section-briefs"}}
  </div>
</div>
