<div class="row">
  <div class="col-md-8 main-left">
    <h2 class="page-header">Community Mentions</h2>
    <div class="list-group">
      <a href="#" class="engage-list-group-item list-group-item">
        <p class="list-group-item-heading link-item-name">I've been wondering what is going on with the pathway bridge across the Snake River</p>
        <p class="list-group-item-text link-item-meta"><span class="link-item-url">Fitzgeralds Bicycles</span> <time class="link-item-date">on January 28, 2014</time></p>
      </a>
      <a href="#" class="engage-list-group-item list-group-item">
        <p class="list-group-item-heading link-item-name">I've been wondering what is going on with the pathway bridge across the Snake River</p>
        <p class="list-group-item-text link-item-meta"><span class="link-item-url">Fitzgeralds Bicycles</span> <time class="link-item-date">on January 28, 2014</time></p>
      </a>
      <a href="#" class="engage-list-group-item list-group-item">
        <p class="list-group-item-heading link-item-name">I've been wondering what is going on with the pathway bridge across the Snake River</p>
        <p class="list-group-item-text link-item-meta"><span class="link-item-url">Fitzgeralds Bicycles</span> <time class="link-item-date">on January 28, 2014</time></p>
      </a>
      <a href="#" class="engage-list-group-item list-group-item">
        <p class="list-group-item-heading link-item-name">I've been wondering what is going on with the pathway bridge across the Snake River</p>
        <p class="list-group-item-text link-item-meta"><span class="link-item-url">Fitzgeralds Bicycles</span> <time class="link-item-date">on January 28, 2014</time></p>
      </a>
      <a href="#" class="engage-list-group-item list-group-item">
        <p class="list-group-item-heading link-item-name">I've been wondering what is going on with the pathway bridge across the Snake River</p>
        <p class="list-group-item-text link-item-meta"><span class="link-item-url">Fitzgeralds Bicycles</span> <time class="link-item-date">on January 28, 2014</time></p>
      </a>
      <a href="#" class="engage-list-group-item list-group-item">
        <p class="list-group-item-heading link-item-name">I've been wondering what is going on with the pathway bridge across the Snake River</p>
        <p class="list-group-item-text link-item-meta"><span class="link-item-url">Fitzgeralds Bicycles</span> <time class="link-item-date">on January 28, 2014</time></p>
      </a>
      <a href="#" class="engage-list-group-item list-group-item">
        <p class="list-group-item-heading link-item-name">I've been wondering what is going on with the pathway bridge across the Snake River</p>
        <p class="list-group-item-text link-item-meta"><span class="link-item-url">Fitzgeralds Bicycles</span> <time class="link-item-date">on January 28, 2014</time></p>
      </a>
    </div>
  </div>
  <div class="col-md-4 main-right">
    {{partial "section-briefs"}}
  </div>
</div>
