<div class="row">
  <div class="col-md-8 main-left">
    <h2 class="page-header">News</h2>


    <div class="media content-subject-item">
      <div class="media-left">
        <a href="#">
          <img class="media-object" src="http://lorempixel.com/250/175/nature" alt="#">
        </a>
        <span class="content-item-logo"></span>
      </div>
      <div class="media-body">
        <h4 class="media-heading">Sustainability Series</h4>
        <p class="list-group-item-text link-item-meta">January 24, 1868</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium ex maxime  aliquid adipisicing elit. Laudantium ex maxime  aliquid ipsum.
        </p>
        <a href="#">The link</a>
      </div>
    </div>


    <div class="media content-subject-item">
      <div class="media-left">
        <a href="#">
          <img class="media-object" src="http://lorempixel.com/250/175/nature" alt="#">
        </a>
        <span class="content-item-logo"></span>
      </div>
      <div class="media-body">
        <h4 class="media-heading">Sustainability Series</h4>
        <p class="list-group-item-text link-item-meta">January 24, 1868</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium ex maxime  aliquid adipisicing elit. Laudantium ex maxime  aliquid ipsum.
        </p>
        <a href="#">The link</a>
      </div>
    </div>
    <div class="media content-subject-item">
      <div class="media-left">
        <a href="#">
          <img class="media-object" src="http://lorempixel.com/250/175/nature" alt="#">
        </a>
        <span class="content-item-logo"></span>
      </div>
      <div class="media-body">
        <h4 class="media-heading">Sustainability Series</h4>
        <p class="list-group-item-text link-item-meta">January 24, 1868</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium ex maxime  aliquid adipisicing elit. Laudantium ex maxime  aliquid ipsum.
        </p>
        <a href="#">The link</a>
      </div>
    </div>
    <div class="media content-subject-item">
      <div class="media-left">
        <a href="#">
          <img class="media-object" src="http://lorempixel.com/250/175/nature" alt="#">
        </a>
        <span class="content-item-logo"></span>
      </div>
      <div class="media-body">
        <h4 class="media-heading">Sustainability Series</h4>
        <p class="list-group-item-text link-item-meta">January 24, 1868</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium ex maxime  aliquid adipisicing elit. Laudantium ex maxime  aliquid ipsum.
        </p>
        <a href="#">The link</a>
      </div>
    </div>
    <div class="media content-subject-item">
      <div class="media-left">
        <a href="#">
          <img class="media-object" src="http://lorempixel.com/250/175/nature" alt="#">
        </a>
        <span class="content-item-logo"></span>
      </div>
      <div class="media-body">
        <h4 class="media-heading">Sustainability Series</h4>
        <p class="list-group-item-text link-item-meta">January 24, 1868</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium ex maxime  aliquid adipisicing elit. Laudantium ex maxime  aliquid ipsum.
        </p>
        <a href="#">The link</a>
      </div>
    </div>
  </div>
  <div class="col-md-4 main-right">
    {{partial "section-briefs"}}
  </div>
</div>


<div class="content-item-image">
  <img src="http://lorempixel.com/400/200/city/1">
  <span class="content-item-logo"></span>
</div>
