<div class="row">
  <div class="col-md-8 main-left">
    <h2 class="page-header">Related Pages</h2>
    <div class="list-group">
      <a href="#" class="engage-list-group-item list-group-item">
        <p class="list-group-item-heading related-pages-name">Jackson Hole Community Pathways</p>
        <p class="list-group-item-text related-pages-url">tetonwyo.org/pathway</p>
      </a>
      <a href="#" class="engage-list-group-item list-group-item">
        <p class="list-group-item-heading related-pages-name">Friends of Pathways</p>
        <p class="list-group-item-text related-pages-url">friendsofpathways.org</p>
      </a>
      <a href="#" class="engage-list-group-item list-group-item">
        <p class="list-group-item-heading related-pages-name">Path22 on Facebook</p>
        <p class="list-group-item-text related-pages-url">facebook.com/path22</p>
      </a>
      <a href="#" class="engage-list-group-item list-group-item">
        <p class="list-group-item-heading related-pages-name">Teton County Parks and Recreation</p>
        <p class="list-group-item-text related-pages-url">www.tetonparksandrec.org</p>
      </a>
      <a href="#" class="engage-list-group-item list-group-item">
        <p class="list-group-item-heading related-pages-name">Website Link Goes Here</p>
        <p class="list-group-item-text related-pages-url">www.example.com</p>
      </a>
      <a href="#" class="engage-list-group-item list-group-item">
        <p class="list-group-item-heading related-pages-name">Website Link Goes Here</p>
        <p class="list-group-item-text related-pages-url">www.example.com</p>
      </a>
      <a href="#" class="engage-list-group-item list-group-item">
        <p class="list-group-item-heading related-pages-name">Website Link Goes Here</p>
        <p class="list-group-item-text related-pages-url">www.example.com</p>
      </a>
      <a href="#" class="engage-list-group-item list-group-item">
        <p class="list-group-item-heading related-pages-name">List group item heading</p>
        <p class="list-group-item-text related-pages-url">www.example.com</p>
      </a>
    </div>
  </div>
  <div class="col-md-4 main-right">
    {{partial "section-briefs"}}
  </div>
</div>
