<div class="row">
  <div class="col-md-8 main-left">
    <h2 class="page-header">Related Pages</h2>
    <div class="list-group">
      <a href="#" class="engage-list-group-item list-group-item">
        <p class="list-group-item-heading link-item-name">Jackson Hole Community Pathways</p>
        <p class="list-group-item-text link-item-meta"><span class="link-item-url">tetonwyo.org/pathway</span></p>
      </a>
      <a href="#" class="engage-list-group-item list-group-item">
        <p class="list-group-item-heading link-item-name">Friends of Pathways</p>
        <p class="list-group-item-text link-item-meta"><span class="link-item-url">friendsofpathways.org</span></p>
      </a>
      <a href="#" class="engage-list-group-item list-group-item">
        <p class="list-group-item-heading link-item-name">Path22 on Facebook</p>
        <p class="list-group-item-text link-item-meta"><span class="link-item-url">facebook.com/path22</span></p>
      </a>
      <a href="#" class="engage-list-group-item list-group-item">
        <p class="list-group-item-heading link-item-name">Teton County Parks and Recreation</p>
        <p class="list-group-item-text link-item-meta"><span class="link-item-url">www.tetonparksandrec.org</span></p>
      </a>
      <a href="#" class="engage-list-group-item list-group-item">
        <p class="list-group-item-heading link-item-name">Website Link Goes Here</p>
        <p class="list-group-item-text link-item-meta"><span class="link-item-url">www.example.com</span></p>
      </a>
      <a href="#" class="engage-list-group-item list-group-item">
        <p class="list-group-item-heading link-item-name">Website Link Goes Here</p>
        <p class="list-group-item-text link-item-meta"><span class="link-item-url">www.example.com</span></p>
      </a>
      <a href="#" class="engage-list-group-item list-group-item">
        <p class="list-group-item-heading link-item-name">Website Link Goes Here</p>
        <p class="list-group-item-text link-item-meta"><span class="link-item-url">www.example.com</span></p>
      </a>
      <a href="#" class="engage-list-group-item list-group-item">
        <p class="list-group-item-heading link-item-name">List group item heading</p>
        <p class="list-group-item-text link-item-meta"><span class="link-item-url">www.example.com</span></p>
      </a>
    </div>
  </div>
  <div class="col-md-4 main-right">
    {{partial "section-briefs"}}
  </div>
</div>
